@function color($name, $adjustment: 0) {
  $color: map-get($colors, $name);

  @if ($color == null or abs($adjustment) > 1) {
    @error 'invalid color';
  }

  $mix-color: if($adjustment > 0, #fff, #000);
  $amount: percentage(abs($adjustment));

  @return mix($mix-color, $color, $amount);
}

@function font-size($size) {
  $font-size: map-get($font-sizes, $size);

  @if ($font-size == null) {
    @error 'invalid font size';
  }

  @return $font-size;
}
