*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: color('white', -0.02);
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  min-height: 100%;

  @include breakpoint(lg) {
    display: grid;
    grid-template-areas: 'header title_bar' 'header flashes' 'header active_admin_content';
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto auto 1fr;
  }

  @media (max-width: 640px) {
    display: block;
  }

  .logged_out & {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
  }
}

#header {
  grid-area: header;
}

#title_bar {
  grid-area: title_bar;
}

.flashes {
  grid-area: flashes;
  padding: 1rem;

  &:empty {
    display: none;
  }
}

#active_admin_content {
  padding: 1rem;

  @include breakpoint(lg) {
    display: grid;
    grid-area: active_admin_content;
    grid-gap: 1rem;
    grid-template-areas: 'main_content_wrapper sidebar';
    grid-template-columns: 1fr 20rem;
  }
}

#login {
  grid-column: 1 / -1;
}

#main_content_wrapper {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  grid-area: main_content_wrapper;
  overflow-x: auto;
  margin-bottom: 1rem;

  @include breakpoint(lg) {
    margin-bottom: 0;
  }

  &:last-child {
    grid-column-end: -1;
  }
}

#main_content {
  background-color: color('white');
  padding: 1rem;
  flex-grow: 1;
}

#sidebar {
  grid-area: sidebar;
  max-width: 20rem;
}

#footer {
  display: none;
}

.panel {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
