.status_tag {
  border-radius: $border-radius;
  color: color('white');
  font-size: 0.7em;
  padding: 0.25rem 0.5rem;

  &.yes {
    background-color: color('success');
  }

  &.no {
    background-color: color('error');
  }
}
