table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid color('white', -0.1);
  margin: 1rem 0;
  width: 100%;

  thead {
    background-color: color('white', -0.1);
    border-radius: $border-radius $border-radius 0 0;
  }

  tr {
    border-bottom: 1px solid color('white', -0.1);

    &.even {
      background-color: color('white', 0.25);
    }
  }

  th {
    text-align: left;
    font-weight: bold;
    white-space: nowrap;

    &.sorted-desc {
      &::after {
        content: '▼';
        display: inline-block;
        margin-left: 0.25rem;
        font-size: 0.7em;
        opacity: 0.5;
        transform: translateY(-1px);
      }
    }

    &.sorted-asc {
      &::after {
        content: '▲';
        display: inline-block;
        margin-left: 0.25rem;
        font-size: 0.7em;
        opacity: 0.5;
        transform: translateY(-1px);
      }
    }
  }

  td,
  th {
    padding: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15rem;

    .attributes_table & {
      white-space: normal;
    }
  }
}

.table_actions a {
  margin-left: 0.5rem;
}
