ul#tabs,
ul#utility_nav {
  li {
    margin-bottom: 0.5rem;
    
    a {
      color: #333;
      text-decoration: none;
      line-height: 1.2rem;
    }
  }
}

ul#tabs {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;

  li {
    &.current {
      a {
        font-weight: bold;
        color: #000;
      }
    }
  }
}

ul#utility_nav {
  li {
    text-align: center;

    &#logout a {
      font-size: 0;

      &:after {
        content: 'Log Out';
        font-size: 0.8rem;
      }
    }
  }
}