// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$base-colors: (
  'primary': #ff444e,
  'secondary': #6ff5cb,
  'black': #000,
  'gray': #737373,
  'white': #fff,
  'success': #6abf40,
  'error': #df2020,
  'info': #f5c73d
);

$theme-colors: () !default;

$colors: map-merge($base-colors, $theme-colors);

$font-sizes: (
  'base': 14px,
  'h1': 3rem,
  'h2': 2.44rem,
  'h3': 1.95rem,
  'h4': 1.56rem,
  'h5': 1.25rem,
  'h6': 1rem,
  'input': 1rem
);

$border-radius: 0.25rem;

$box-shadow: 0 0 0.25rem rgba(color('black'), 0.1);
